<h1>Register</h1>
<p><%= @user.inspect%></p>

<!--f gives you the square bracket syntax users[name] etc  -->
<%= form_for @user do |f|  %>

<% if @user.errors.any? %>
<h2> Form is invalid </h2>
<ul>
  <% for message in @user.errors.full_messages %>
  <li><%=message%></li>
  <% end %>
</ul>
<% end %>
<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %>
  <%= f.text_field :password%>
</div>
<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation%>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
