<h1>Statics#home</h1>
<p>Find me in app/views/statics/home.html.erb</p>

<%= link_to "Home", root_path %>
<%= link_to "Spots", spots_path %>

<h1>Form Helper</h1>
<%= form_tag('/home') do %>
  <%= text_field_tag 'input_id' %><br />
  <%= text_area_tag 'input_textarea' %><br />
  <%= submit_tag 'Save' %>
<% end %>

<%= number_to_currency(1234567890.50) %>
<%= number_to_human(1234) %>
<%= number_to_human(12345) %>
<%= number_to_human(1234567) %>
<%= number_to_human(1234567890) %>
<%= number_to_human(1234567890123) %>
<%= number_to_human(1234567890123456) %>
<%= number_to_human(1234567890123456789) %>
<%= number_to_human(489939, precision: 2) %>
<%= number_to_human_size(1234567890) %>

<h1>Date Helper</h1>
<% from_time = Time.now %>
<%= distance_of_time_in_words(from_time, from_time + 50.minutes) %>
